USE [master]
GO
/****** Object:  Database [DB_PURCHASE]    Script Date: 16/1/2024 8:13:58 AM ******/
CREATE DATABASE [DB_PURCHASE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_PURCHASE', FILENAME = N'F:\IT\Tuan\mssql\MSSQL16.SQLEXPRESS\MSSQL\DATA\DB_PURCHASE.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB_PURCHASE_log', FILENAME = N'F:\IT\Tuan\mssql\MSSQL16.SQLEXPRESS\MSSQL\DATA\DB_PURCHASE_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_PURCHASE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_PURCHASE]
GO
/****** Object:  Table [dbo].[category]    Script Date: 16/1/2024 8:13:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category](
	[categoryID] [uniqueidentifier] NOT NULL,
	[categoryName] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_41fb077311758c7fdb08f4f450d] PRIMARY KEY CLUSTERED 
(
	[categoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[department]    Script Date: 16/1/2024 8:13:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[department](
	[departID] [uniqueidentifier] NOT NULL,
	[departName] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_c0f0e548ab4397631599bb5f7fb] PRIMARY KEY CLUSTERED 
(
	[departID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[image]    Script Date: 16/1/2024 8:13:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[image](
	[imageID] [uniqueidentifier] NOT NULL,
	[url] [nvarchar](255) NOT NULL,
	[title] [nvarchar](255) NULL,
	[productID] [uniqueidentifier] NOT NULL,
	[isShow] [bit] NOT NULL,
 CONSTRAINT [PK_e9d6535c1288520da339a175a29] PRIMARY KEY CLUSTERED 
(
	[imageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order]    Script Date: 16/1/2024 8:13:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order](
	[orderID] [uniqueidentifier] NOT NULL,
	[reciever] [nvarchar](255) NOT NULL,
	[address] [nvarchar](255) NOT NULL,
	[created_at] [datetime] NOT NULL,
	[created_by] [nvarchar](255) NULL,
	[updated_at] [datetime] NOT NULL,
	[updated_by] [nvarchar](255) NULL,
	[delete_at] [datetime] NULL,
	[deleted_by] [nvarchar](255) NULL,
	[userID] [nvarchar](255) NOT NULL,
	[note] [nvarchar](255) NOT NULL,
	[total] [nvarchar](255) NULL,
	[code] [nvarchar](255) NOT NULL,
	[departmentID] [nvarchar](255) NULL,
	[statusID] [uniqueidentifier] NULL,
	[cancel_at] [datetime2](7) NULL,
	[cancel_by] [nvarchar](255) NULL,
 CONSTRAINT [PK_6aeee6e35cd9561aea5935d24fb] PRIMARY KEY CLUSTERED 
(
	[orderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_729b3eea7ce540930dbb7069498] UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_detail]    Script Date: 16/1/2024 8:13:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_detail](
	[quantity] [int] NOT NULL,
	[price] [nvarchar](255) NOT NULL,
	[unit] [nvarchar](255) NOT NULL,
	[orderDetailID] [uniqueidentifier] NOT NULL,
	[orderID] [uniqueidentifier] NOT NULL,
	[productID] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_a3595fe9769a4ef2b8a927c1007] PRIMARY KEY CLUSTERED 
(
	[orderDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product]    Script Date: 16/1/2024 8:13:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product](
	[productID] [uniqueidentifier] NOT NULL,
	[productName] [nvarchar](255) NULL,
	[inventory] [int] NOT NULL,
	[description] [nvarchar](max) NULL,
	[isShow] [bit] NOT NULL,
	[created_at] [datetime] NOT NULL,
	[created_by] [nvarchar](255) NULL,
	[updated_at] [datetime] NOT NULL,
	[updated_by] [nvarchar](255) NULL,
	[delete_at] [datetime] NULL,
	[deleted_by] [nvarchar](255) NULL,
	[categoryID] [uniqueidentifier] NULL,
	[unitID] [uniqueidentifier] NULL,
	[price] [nvarchar](255) NULL,
 CONSTRAINT [PK_580f3440cb4d71537c729bc34f1] PRIMARY KEY CLUSTERED 
(
	[productID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[status]    Script Date: 16/1/2024 8:13:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[status](
	[statusID] [uniqueidentifier] NOT NULL,
	[statusName] [nvarchar](255) NOT NULL,
	[userID] [nvarchar](255) NULL,
	[level] [int] NOT NULL,
 CONSTRAINT [PK_4c0449b6c169e88a4187ad82b49] PRIMARY KEY CLUSTERED 
(
	[statusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[unit]    Script Date: 16/1/2024 8:13:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[unit](
	[unitID] [uniqueidentifier] NOT NULL,
	[unitName] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_3da3738a8a55ca54e38390a1c63] PRIMARY KEY CLUSTERED 
(
	[unitID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user]    Script Date: 16/1/2024 8:13:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[userID] [uniqueidentifier] NOT NULL,
	[username] [nvarchar](255) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[isManager] [bit] NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NOT NULL,
	[delete_at] [datetime] NULL,
	[updated_by] [nvarchar](255) NULL,
	[deleted_by] [nvarchar](255) NULL,
	[isApprover] [bit] NULL,
	[email] [nvarchar](255) NULL,
	[departmentID] [uniqueidentifier] NULL,
 CONSTRAINT [PK_46d78688eda2476cb18f7eae8a5] PRIMARY KEY CLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_78a916df40e02a9deb1c4b75edb] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[category] ADD  CONSTRAINT [DF_41fb077311758c7fdb08f4f450d]  DEFAULT (newsequentialid()) FOR [categoryID]
GO
ALTER TABLE [dbo].[department] ADD  CONSTRAINT [DF_c0f0e548ab4397631599bb5f7fb]  DEFAULT (newsequentialid()) FOR [departID]
GO
ALTER TABLE [dbo].[image] ADD  CONSTRAINT [DF_e9d6535c1288520da339a175a29]  DEFAULT (newsequentialid()) FOR [imageID]
GO
ALTER TABLE [dbo].[image] ADD  CONSTRAINT [DF_d5e7d98afef16db336aa08afb64]  DEFAULT ((1)) FOR [isShow]
GO
ALTER TABLE [dbo].[order] ADD  CONSTRAINT [DF_6aeee6e35cd9561aea5935d24fb]  DEFAULT (newsequentialid()) FOR [orderID]
GO
ALTER TABLE [dbo].[order] ADD  CONSTRAINT [DF_e53d92730ba8bd3bd87e73b076b]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[order] ADD  CONSTRAINT [DF_faa05c6206e7196b91251712625]  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[order] ADD  CONSTRAINT [DF_3abe3bf4be65973306dfffdadbf]  DEFAULT (getdate()) FOR [cancel_at]
GO
ALTER TABLE [dbo].[order_detail] ADD  CONSTRAINT [DF_a3595fe9769a4ef2b8a927c1007]  DEFAULT (newsequentialid()) FOR [orderDetailID]
GO
ALTER TABLE [dbo].[product] ADD  CONSTRAINT [DF_580f3440cb4d71537c729bc34f1]  DEFAULT (newsequentialid()) FOR [productID]
GO
ALTER TABLE [dbo].[product] ADD  CONSTRAINT [DF_a700eb53db9304d9851ae7d8bca]  DEFAULT ((0)) FOR [inventory]
GO
ALTER TABLE [dbo].[product] ADD  CONSTRAINT [DF_91b4f645f7fe267179af692bf09]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[product] ADD  CONSTRAINT [DF_4a5ee402c3f5d53ce5c768da158]  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[status] ADD  CONSTRAINT [DF_4c0449b6c169e88a4187ad82b49]  DEFAULT (newsequentialid()) FOR [statusID]
GO
ALTER TABLE [dbo].[unit] ADD  CONSTRAINT [DF_3da3738a8a55ca54e38390a1c63]  DEFAULT (newsequentialid()) FOR [unitID]
GO
ALTER TABLE [dbo].[user] ADD  CONSTRAINT [DF_46d78688eda2476cb18f7eae8a5]  DEFAULT (newsequentialid()) FOR [userID]
GO
ALTER TABLE [dbo].[user] ADD  CONSTRAINT [DF_9e3cb0ae2b24c39a55e84eed692]  DEFAULT ((0)) FOR [isManager]
GO
ALTER TABLE [dbo].[user] ADD  CONSTRAINT [DF_d091f1d36f18bbece2a9eabc6e0]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[user] ADD  CONSTRAINT [DF_9cdce43fa0043c794281aa09051]  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[image]  WITH CHECK ADD  CONSTRAINT [FK_8ad07d41e4c5d9d28cb847faaaf] FOREIGN KEY([productID])
REFERENCES [dbo].[product] ([productID])
GO
ALTER TABLE [dbo].[image] CHECK CONSTRAINT [FK_8ad07d41e4c5d9d28cb847faaaf]
GO
ALTER TABLE [dbo].[order]  WITH CHECK ADD  CONSTRAINT [FK_f952e7d4d9029d30daf4ced4d7f] FOREIGN KEY([statusID])
REFERENCES [dbo].[status] ([statusID])
GO
ALTER TABLE [dbo].[order] CHECK CONSTRAINT [FK_f952e7d4d9029d30daf4ced4d7f]
GO
ALTER TABLE [dbo].[order_detail]  WITH CHECK ADD  CONSTRAINT [FK_25cbb9bd5a357f85d08c6c4785c] FOREIGN KEY([orderID])
REFERENCES [dbo].[order] ([orderID])
GO
ALTER TABLE [dbo].[order_detail] CHECK CONSTRAINT [FK_25cbb9bd5a357f85d08c6c4785c]
GO
ALTER TABLE [dbo].[order_detail]  WITH CHECK ADD  CONSTRAINT [FK_7d03da34222a080afc7f271c8e7] FOREIGN KEY([productID])
REFERENCES [dbo].[product] ([productID])
GO
ALTER TABLE [dbo].[order_detail] CHECK CONSTRAINT [FK_7d03da34222a080afc7f271c8e7]
GO
ALTER TABLE [dbo].[product]  WITH CHECK ADD  CONSTRAINT [FK_0682887721c4045868fb8104e2a] FOREIGN KEY([categoryID])
REFERENCES [dbo].[category] ([categoryID])
GO
ALTER TABLE [dbo].[product] CHECK CONSTRAINT [FK_0682887721c4045868fb8104e2a]
GO
ALTER TABLE [dbo].[product]  WITH CHECK ADD  CONSTRAINT [FK_faf043a362175054ddb0a9bea74] FOREIGN KEY([unitID])
REFERENCES [dbo].[unit] ([unitID])
GO
ALTER TABLE [dbo].[product] CHECK CONSTRAINT [FK_faf043a362175054ddb0a9bea74]
GO
ALTER TABLE [dbo].[user]  WITH CHECK ADD  CONSTRAINT [FK_ad46f11b84a211eacdda4df8107] FOREIGN KEY([departmentID])
REFERENCES [dbo].[department] ([departID])
GO
ALTER TABLE [dbo].[user] CHECK CONSTRAINT [FK_ad46f11b84a211eacdda4df8107]
GO
USE [master]
GO
